@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
body {
  background-color: darkslategray;
}

header {
  margin-top: 5rem;
  margin-bottom: 5rem;
}
header .big {
  text-align: center;
}
header .big .icon {
  text-align: center;
  display: inline-block;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin-bottom: 30px;
  background: #fdb44b;
  position: relative;
}
header .big .icon i {
  color: #000;
  font-size: 40px;
  top: 30px;
  left: 33px;
  position: absolute;
  color: rgb(69, 187, 0);
}
header .big .media h3 {
  color: sienna;
  font-family: "Playfair Display", serif;
  font-size: 20px;
  margin-bottom: 20px;
}
header .big .media p {
  font-size: 19px;
  line-height: 1.8;
  font-weight: 300;
  color: darkorchid;
  font-family: "Open Sans", sans-serif;
}

.One .center {
  text-align: center;
}
.One .center h2 {
  color: rgb(255, 0, 0);
  font-family: "Open Sans", sans-serif;
  margin-bottom: 1.5rem;
  font-size: 2rem;
  font-weight: bold;
}
.One .center p {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 18px;
  line-height: 1.8;
  color: #fdb44b;
  font-family: cursive;
}

.Two {
  padding: 7rem 0;
  display: block;
}
.Two .menu {
  display: flex;
  margin-right: -15px;
  margin-left: -15px;
  flex-wrap: wrap;
}
.Two .menu .col-md-4 {
  display: flex;
  max-width: 33.3%;
}
.Two .menu .col-md-4 .image {
  background-size: cover;
  background-position: center center;
  width: 50%;
}
.Two .menu .col-md-4 .text {
  padding: 40px;
  background: #000;
  width: 50%;
}
.Two .menu .col-md-4 .text h3 {
  color: #fff;
  font-size: 22px;
  margin-bottom: 20px;
  margin-top: 0;
  line-height: 1.2;
  font-weight: 100;
}
.Two .menu .col-md-4 .text p {
  font-family: "Open Sans", cursive;
  line-height: 1.8;
  font-weight: 300;
  color: #fff;
  font-size: 13px;
  opacity: 0.5;
  margin-top: 0;
  margin-bottom: 1rem;
}
.Two .menu .col-md-4 .text .price {
  font-size: 30px;
  color: #fdb44b;
  opacity: 1;
  font-size: 30px;
  color: #fdb44b;
  opacity: 1;
}
.Two .after {
  text-align: center;
  margin-top: 4rem;
}
.Two .after h1 {
  font-size: 2rem;
  letter-spacing: 1px;
  font-style: italic;
  color: #fff;
}

.Three .big {
  display: flex;
  margin-right: -30px;
}
.Three .big .col-md-6 .image {
  display: block;
  height: 300px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: scroll;
}
.Three .big .box {
  display: flex;
}
.Three .big .box .text {
  padding: 7%;
  background: #000;
  width: 50%;
}
.Three .big .box .text h2 {
  font-family: "Poppins", sans-serif;
  margin-bottom: 1.5rem;
  color: #fff;
  font-size: 2rem;
  line-height: 1.2;
  font-weight: 100;
}
.Three .big .box .text p {
  margin-bottom: 1.5rem;
  font-family: "Open Sans", cursive;
  font-size: 16px;
  line-height: 1.8;
  font-weight: 300;
  color: #999999;
}
.Three .big .box .text .button {
  margin-top: 0;
  margin-bottom: 1rem;
}
.Three .big .box .text .button a {
  color: #fdb44b;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  border: 1px solid transparent;
  padding: 0.675rem 1.2rem;
  line-height: 1.5;
  border-radius: 4px;
  border-color: #fdb44b;
  text-decoration: none;
}
.Three .big .box .text .button a:hover {
  background-color: #fdb44b;
  color: white;
}
.Three .big .pic {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  width: 50%;
}/*# sourceMappingURL=style.css.map */