header {
  margin-top: 8em;
}
header .first .circle {
  background-color: #DCF2ED;
  border-radius: 192px;
  height: 352px;
  width: 358px;
  position: relative;
}
header .first .circle .project1 {
  position: absolute;
  bottom: 60px;
  left: -27px;
  background-color: white;
  width: 250px;
  padding: 1rem;
  border-radius: 15px;
}
header .first .circle .project1 h4 {
  margin-bottom: 2rem;
  font-weight: bold;
  color: #20484F;
}
header .first .circle .project1 h5 {
  margin-bottom: 1rem;
  color: #20484F;
}
header .first .circle .project1 .line1 {
  background-color: #E9EDED;
  width: 152px;
  height: 10px;
  border-radius: 15px;
  margin-bottom: 12px;
}
header .first .circle .project1 .line2 {
  background-color: #E9EDED;
  width: 175px;
  height: 10px;
  border-radius: 15px;
  margin-bottom: 2rem;
}
header .first .circle .project1 .block {
  display: block;
  margin-bottom: 7px;
}
header .first .circle .project1 .block .check {
  display: inline-block;
  margin-right: 12px;
}
header .first .circle .project1 .block .check i {
  background-color: #DCF2ED;
  border-radius: 10px;
  font-size: 12px;
  padding: 5px;
}
header .first .circle .project1 .block .line3 {
  background-color: #E9EDED;
  width: 69px;
  height: 10px;
  border-radius: 15px;
  display: inline-block;
}
header .first .circle .project1 .block2 {
  display: block;
  margin-bottom: 2rem;
}
header .first .circle .project1 .block2 .check {
  display: inline-block;
  margin-right: 12px;
}
header .first .circle .project1 .block2 .check i {
  background-color: #DCF2ED;
  border-radius: 10px;
  font-size: 12px;
  padding: 5px;
}
header .first .circle .project1 .block2 .line4 {
  background-color: #E9EDED;
  width: 120px;
  height: 10px;
  border-radius: 15px;
  display: inline-block;
}
header .first .circle .project1 .line5 {
  background-color: #B8E4DA;
  height: 38px;
  border-radius: 8px;
}
header .first .circle .project2 {
  position: absolute;
  top: 75px;
  right: -60px;
  background-color: white;
  width: 165px;
  padding: 1rem;
  border-radius: 15px;
  text-align: center;
}
header .first .circle .project2 img {
  border-radius: 25px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 1rem;
}
header .first .circle .project2 h5 {
  color: #20484F;
}
header .first .circle .project2 p {
  color: #20484F;
  margin-bottom: 2rem;
}
header .first .circle .project2 .line6 {
  background-color: #E9EDED;
  height: 10px;
  border-radius: 15px;
  margin-bottom: 12px;
}
header .first .circle .project2 .line7 {
  background-color: #E9EDED;
  height: 10px;
  border-radius: 15px;
  margin-bottom: 12px;
}
header .first .circle .project3 {
  position: absolute;
  bottom: -96px;
  left: -30px;
  background-color: white;
  height: 120px;
  padding: 1rem;
  border-radius: 15px;
  width: 350px;
}
header .first .circle .project3 .block {
  display: flex;
}
header .first .circle .project3 .block .check {
  display: inline-block;
  margin-right: 20px;
}
header .first .circle .project3 .block .check i {
  background-color: #DCF2ED;
  border-radius: 33px;
  font-size: 40px;
  padding: 9px;
}
header .first .circle .project3 .block .text {
  display: inline-block;
}
header .first .circle .project3 .block .text h4 {
  margin-bottom: 16px;
}
header .first .circle .project3 .block .text .line1 {
  background-color: #E9EDED;
  height: 10px;
  width: 225px;
  border-radius: 15px;
  margin-bottom: 8px;
}
header .first .circle .project3 .block .text .line2 {
  background-color: #E9EDED;
  height: 10px;
  width: 168px;
  border-radius: 15px;
}
header .second p {
  color: white;
}
header .second h1 {
  color: white;
  font-size: 65px;
  margin-bottom: 2rem;
}
header .second input {
  width: 290px;
}

@media screen and (max-width: 600px) {
  .first {
    margin-bottom: 10rem;
  }
}
@media (min-width: 600px) and (max-width: 1140px) {
  .first {
    margin-bottom: 10rem;
  }
  .second input {
    width: 362px !important;
  }
}/*# sourceMappingURL=style.css.map */